.todoDoneButton {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid #000000;
    background-color: #FFFFFF;
    z-index: 1;
}

.todoDoneButton:hover {
    outline-style: solid;
    outline-color: #FFFFFF;
    outline-width: 2.5px;
    z-index: 1;
}