.app {
    position: fixed;
    width: 100vmax;
    height: 100vmax;
    left: 0px;
    top: 0px;
    background: #E5E5E5;
    z-index: -1;
}

.background {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(190, 192, 249, 255), rgba(137, 139, 196, 255));
}

.container {
    position: absolute;
    width: auto;
    height: 100vmax;
    top: 135px;
    left: calc(50vw - 400px/2);
    right: calc(50vw - 400px/2);
    overflow: auto;
}